---
whitelist:
  - /v1/users/users/profile
  - /v1/auth/pages
  - /v1/auth/logout
  - /v1/users/tenants
  - /v1/users/roles

authorization:
  - title: 仪表台
    name: dashboard
    path: dashboard
    meta:
      hideInMenu: false
      icon: icon-dashboard
    children:
      - title: 工作空间
        name: workplace
        path: workplace
        meta:
          hideInMenu: false
  - title: 用户管理
    name: users
    path: users
    meta:
      icon: icon-user
      hideInMenu: false
    children:
      - title: 用户
        name: UserList
        path: users
        meta:
          hideInMenu: false
        api:
          - get#/v1/users/users
        children:
          - title: 角色分配
            name: UserTenantRole
            path: users/{id}/tenant-role
            api:
              - get#/v1/users/users/{id}
              - put#/v1/users/permissions/attach/{role}/{tenant}
              - put#/v1/users/permissions/detach/{role}/{tenant}
          - title: 重置密码
            name: UserResetPassword
            path: users/{id}/reset-password
            api:
              - put#/v1/users/users/{id}/reset-password
          - title: 用户创建
            name: UserCreate
            path: users/create
            api:
              - post#/v1/users/users
          - title: 用户查看
            name: UserView
            path: users/view/{id}
            api:
              - get#/v1/users/users/{id}
          - title: 用户编辑
            name: UserEdit
            path: users/edit/{id}
            api:
              - put#/v1/users/users/{id}
              - get#/v1/users/users/{id}
          - title: 用户删除
            name: UserDelete
            path: users/delete/{id}
            api:
              - delete#/v1/users/users/{id}
          - title: 用户导入
            name: UserImport
            path: users/import
            api:
              - post#/v1/users/users/import
          - title: 用户下载
            name: UserDownload
            path: users/download
            api:
              - post#/v1/users/users/download
      - title: 角色
        name: RoleList
        path: roles
        meta:
          hideInMenu: false
        api:
          - get#/v1/users/roles
        children:
          - title: 角色创建
            name: RoleCreate
            path: roles/create
            api:
              - post#/v1/users/roles
          - title: 角色查看
            name: RoleView
            path: roles/view/{id}
            api:
              - get#/v1/users/roles/{id}
          - title: 角色编辑
            name: RoleEdit
            path: roles/edit/{id}
            api:
              - put#/v1/users/roles/{id}
              - get#/v1/users/roles/{id}
          - title: 角色删除
            name: RoleDelete
            path: roles/delete/{id}
            api:
              - delete#/v1/users/roles/{id}
          - title: 角色导入
            name: RoleImport
            path: roles/import
            api:
              - post#/v1/users/roles/import
          - title: 角色下载
            name: RoleDownload
            path: roles/download
            api:
              - post#/v1/users/roles/download
      - title: 租户
        name: TenantList
        path: tenants
        meta:
          hideInMenu: false
        api:
          - get#/v1/users/tenants
        children:
          - title: 租户创建
            name: TenantCreate
            path: tenants/create
            api:
              - post#/v1/users/tenants
          - title: 租户查看
            name: TenantView
            path: tenants/view/{id}
            api:
              - get#/v1/users/tenants/{id}
          - title: 租户编辑
            name: TenantEdit
            path: tenants/edit/{id}
            api:
              - put#/v1/users/tenants/{id}
              - get#/v1/users/tenants/{id}
          - title: 租户删除
            name: TenantDelete
            path: tenants/delete/{id}
            api:
              - delete#/v1/users/tenants/{id}
          - title: 租户导入
            name: TenantImport
            path: tenants/import
            api:
              - post#/v1/users/tenants/import
          - title: 租户下载
            name: TenantDownload
            path: tenants/download
            api:
              - post#/v1/users/tenants/download
      - title: 在线
        name: SessionList
        path: sessions
        meta:
          hideInMenu: false
        api:
          - get#/v1/users/sessions
        children:
          - title: 在线查看
            name: SessionView
            path: sessions/view/{id}
            api:
              - get#/v1/users/sessions/{id}
  - title: 系统管理
    name: systems
    path: systems
    meta:
      icon: icon-computer
      hideInMenu: false
    children:
      - title: 路由
        name: RouteList
        path: routes
        meta:
          hideInMenu: false
        api:
          - get#/v1/systems/routes
        children:
          - title: 路由创建
            name: RouteCreate
            path: routes/create
            api:
              - post#/v1/systems/routes
          - title: 路由查看
            name: RouteView
            path: routes/view/{id}
            api:
              - get#/v1/systems/routes/{id}
          - title: 路由编辑
            name: RouteEdit
            path: routes/edit/{id}
            api:
              - put#/v1/systems/routes/{id}
              - get#/v1/systems/routes/{id}
          - title: 路由删除
            name: RouteDelete
            path: routes/delete/{id}
            api:
              - delete#/v1/systems/routes/{id}
          - title: 路由导入
            name: RouteImport
            path: routes/import
            api:
              - post#/v1/systems/routes/import
          - title: 路由下载
            name: RouteDownload
            path: routes/download
            api:
              - post#/v1/systems/routes/download
      - title:  字典
        name: DictionaryList
        path: dictionaries
        meta:
          hideInMenu: false
        api:
          - get#/v1/systems/dictionaries
        children:
          - title: 字典创建
            name: DictionaryCreate
            path: create
            api:
              - post#/v1/systems/dictionaries
          - title: 字典查看
            name: DictionaryView
            path: view/{id}
            api:
              - get#/v1/systems/dictionaries/{id}
          - title: 字典编辑
            name: DictionaryEdit
            path: edit/{id}
            api:
              - put#/v1/systems/dictionaries/{id}
              - get#/v1/systems/dictionaries/{id}
          - title: 字典删除
            name: DictionaryDelete
            path: delete/{id}
            api:
              - delete#/v1/systems/dictionaries/{id}
          - title: 字典导入
            name: DictionaryImport
            path: import
            api:
              - post#/v1/systems/dictionaries/import
          - title: 字典下载
            name: DictionaryDownload
            path: download
            api:
              - post#/v1/systems/dictionaries/download
      - title:  菜单
        name: MenuList
        path: menus
        meta:
          hideInMenu: false
        api:
          - get#/v1/systems/menus
        children:
          - title: 菜单创建
            name: MenuCreate
            path: create
            api:
              - post#/v1/systems/menus
          - title: 子菜单创建
            name: MenuSubCreate
            path: create/{id}/sub
            api:
              - get#/v1/systems/menus/{id}
              - post#/v1/systems/menus/{id}/sub
          - title: 菜单查看
            name: MenuView
            path: view/{id}
            api:
              - get#/v1/systems/menus/{id}
          - title: 子菜单树
            name: MenuSubList
            path: "{id}/tree"
            api:
              - get#/v1/systems/menus/{id}
              - get#/v1/systems/menus/{id}/tree
          - title: 菜单编辑
            name: MenuEdit
            path: edit/{id}
            api:
              - put#/v1/systems/menus/{id}
              - get#/v1/systems/menus/{id}
          - title: 菜单删除
            name: MenuDelete
            path: delete/{id}
            api:
              - delete#/v1/systems/menus/{id}
          - title: 菜单导入
            name: MenuImport
            path: import
            api:
              - post#/v1/systems/menus/import
          - title: 菜单下载
            name: MenuDownload
            path: download
            api:
              - post#/v1/systems/menus/download