whitelist:
  - /v1/users/users/profile
authorization:
  - name: 仪表台
    path: dashboard
    children:
      - name: 工作空间
        path: workspace
  - name: 用户管理
    path: users
    children:
      - name: 用户
        path: users
        children:
          - name: 创建
            path: create
            api:
              - get#/v1/users/users
          - name: 查看
            path: view/:id
            api:
              - post#/v1/users/users
              - get#/v1/users/users/:id
          - name: 编辑
            path: edit/:id
            api:
              - put#/v1/users/users/:id
              - get#/v1/users/users/:id
          - name: 删除
            path: delete/:id
            api:
              - delete#/v1/users/users/:id
          - name: 导入
            path: import
            api:
              - post#/v1/users/users/import
          - name: 下载
            path: download
            api:
              - post#/v1/users/users/download
      - name: 角色
        path: roles
        children:
          - name: 创建
            path: create
            api:
              - get#/v1/users/roles
          - name: 查看
            path: view/:id
            api:
              - post#/v1/users/roles
              - get#/v1/users/roles/:id
          - name: 编辑
            path: edit/:id
            api:
              - put#/v1/users/roles/:id
              - get#/v1/users/roles/:id
          - name: 删除
            path: delete/:id
            api:
              - delete#/v1/users/roles/:id
          - name: 导入
            path: import
            api:
              - post#/v1/users/roles/import
          - name: 下载
            path: download
            api:
              - post#/v1/users/roles/download
      - name: 租户
        path: tenants
        children:
          - name: 创建
            path: create
            api:
              - get#/v1/users/tenants
          - name: 查看
            path: view/:id
            api:
              - post#/v1/users/tenants
              - get#/v1/users/tenants/:id
          - name: 编辑
            path: edit/:id
            api:
              - put#/v1/users/tenants/:id
              - get#/v1/users/tenants/:id
          - name: 删除
            path: delete/:id
            api:
              - delete#/v1/users/tenants/:id
          - name: 导入
            path: import
            api:
              - post#/v1/users/tenants/import
          - name: 下载
            path: download
            api:
              - post#/v1/users/tenants/download
      - name: 在线
        path: sessions
        children:
          - name: 创建
            path: create
            api:
              - get#/v1/users/sessions
          - name: 查看
            path: view/:id
            api:
              - post#/v1/users/sessions
              - get#/v1/users/sessions/:id
          - name: 编辑
            path: edit/:id
            api:
              - put#/v1/users/sessions/:id
              - get#/v1/users/sessions/:id
          - name: 删除
            path: delete/:id
            api:
              - delete#/v1/users/sessions/:id
          - name: 导入
            path: import
            api:
              - post#/v1/users/sessions/import
          - name: 下载
            path: download
            api:
              - post#/v1/users/sessions/download
      - name: 权限
        path: permissions
        children:
          - name: 创建
            path: create
            api:
              - get#/v1/users/permissions
          - name: 查看
            path: view/:id
            api:
              - post#/v1/users/permissions
              - get#/v1/users/permissions/:id
          - name: 编辑
            path: edit/:id
            api:
              - put#/v1/users/permissions/:id
              - get#/v1/users/permissions/:id
          - name: 删除
            path: delete/:id
            api:
              - delete#/v1/users/permissions/:id
          - name: 导入
            path: import
            api:
              - post#/v1/users/permissions/import
          - name: 下载
            path: download
            api:
              - post#/v1/users/permissions/download

  - name: 系统管理
    path: /systems
    children:
      - name: 路由
        path: /systems/routes
